<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			table {
				margin: auto;
				width: 100%;
				font-size: 14px;
			}

			.textInput {
				width: 130px;
				vertical-align: middle;
			}
		</style>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<table class="table table-hover table-striped table-bordered table-dark">
				<tr>
					<th>角色ID</th>
					<th>角色名称</th>
					<th>角色描述</th>
					<th>角色权限</th>
					<th>操作</th>
				</tr>
				<tr v-for="role in roles">
					<td>{{role.rid}}</td>
					<td>{{role.rname}}</td>
					<td>{{role.rdes}}</td>
					<!-- 循环展示用户已有权限 -->
					<td>
						<div v-for='permission in role.permissions'>{{permission.pmsname}} </div>
					</td>
					<td>
						<button @click='updateUI(role.rid)' data-toggle="modal" data-target="#editModal">修改</button>
						<button @click='del(role.rid)'>删除</button>
					</td>
				</tr>
				<tr>
					<td colspan="5"><button type="btn btn-primary btn-lg" @click="saveInit" data-toggle="modal" data-target="#saveModal">添加角色</button></td>
				</tr>
			</table>

			<!-- 增加模态框开始 -->
			<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								增加角色
							</h4>
						</div>
						<div class="modal-body">
							<table border="0">
								<tr>
									<td>角色名称</td>
									<td><input class="textInput" type="text" name="rname" v-model="rname" placeholder="角色名称" /></td>
								</tr>
								<tr>
									<td>角色描述</td>
									<td><input class="textInput" type="text" name="rdes" v-model="rdes" placeholder="角色描述" /></td>
								</tr>
								<tr>
									<td colspan="2">请选择下列用户权限:</td>
								</tr>
								<tr v-for="pms in permissions">
									<td></td>
									<td><input type="checkbox" :value="pms" v-model="selectPermissions" />{{pms.pmsname}}</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭
							</button>
							<button type="button" class="btn btn-primary" @click="save" data-dismiss="modal">
								确认增加
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 增加模态框结束 -->

			<!-- 修改模态框开始 -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								修改角色
							</h4>
						</div>
						<div class="modal-body">
							<table border="0">
								<tr>
									<td>角色名称</td>
									<td><input class="textInput" type="text" name="rname" v-model="updateRole.rname" placeholder="角色名称" /></td>
								</tr>
								<tr>
									<td>角色描述</td>
									<td><input class="textInput" type="text" name="rdes" v-model="updateRole.rdes" placeholder="角色描述" /></td>
								</tr>
								<tr>
									<td colspan="2">为用户选择新的权限:</td>
								</tr>
								<tr v-for="pms in permissions" :key="pms.pid">
									<td></td>
									<td>
										<input type="checkbox" :value="pms" v-model="selectPermissions" />
										{{pms.pmsname}}
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭
							</button>
							<button type="button" class="btn btn-primary" @click="update" data-dismiss="modal">
								确认修改
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 修改模态框结束 -->
		</div>
	</body>
	<script>
		var vue = new Vue({
			el: "#app",
			data: {
				roles: [],
				permissions: [],
				selectPermissions: [],
				rid: '',
				rname: '',
				rdes: '',
				updateRole: ''
			},
			methods: {
				//查询所有角色
				findAll() {
					var self = this;
					axios.get("http://localhost:8080/roles").then(function(response) {
						self.roles = response.data;
					})
				},
				//删除角色
				del(rid) {
					var self = this;
					axios.delete("http://localhost:8080/roles?rid=" + rid).then(function(response) {
						alert('删除成功');
						self.findAll();
					})
				},
				//增加
				save() {
					var self = this;
					if (this.selectPermissions.length == 0) {
						alert("添加失败! 权限不能为空");
						return;
					}
					axios.post("http://localhost:8080/roles", {
						//rid: self.rid,
						rname: self.rname,
						rdes: self.rdes,
						permissions: self.selectPermissions
					}).then(function(response) {
						self.findAll();
						alert('添加成功!');
					}).catch(function() {
						alert('添加失败! 角色名 ' + self.rname + ' 已存在,请检查输入后重试!')
					})
				},
				//查一个 放在updateRole里 等待用户编辑
				updateUI(rid) {
					var self = this;
					this.findAllPermissions();

					axios.get("http://localhost:8080/roles/" + rid).then(function(response) {
						self.updateRole = response.data;
						self.selectPermissions = self.updateRole.permissions;
					});
				},
				//修改
				update(rid) {
					var self = this;
					if (this.selectPermissions.length == 0) {
						alert("修改失败 用户权限不能为空!");
						return;
					}
					this.updateRole.permissions = this.selectPermissions;
					axios.put("http://localhost:8080/roles", self.updateRole).then(function(response) {
						alert('修改成功');
						self.findAll();
					})
				},
				//查询所有角色供角色选择
				findAllPermissions() {
					var self = this;
					axios.get("http://localhost:8080/permissions").then(function(response) {
						self.permissions = response.data; //此时还是字符串
					})
				},
				test() {
					alert(this.selectPermissions);
				},
				refresh() {
					this.findAllPermissions();
				},
				//防止修改在数据在添加处回显
				saveInit() {
					this.selectPermissions = '';
				}
			},
			mounted: function() { //mounted　表示这个 Vue 对象加载成功了
				this.findAll();
				this.findAllPermissions();
			}
		});
	</script>
</html>
