<meta charset="UTF-8">
<title>拍品历史记录管理</title>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css"
	media="all">
<script src="/layuiadmin/layui/layui.all.js"></script>
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body> 
 
	<div id="app">
		<button @click="save" class="btn btn-success btn-sm">添加数据</button>
		<input type="text" v-model="search" placeholder="请输入搜索条件">
		<button type="button" @click="findAll">搜索</button>
		
		<input style='margin-left:20px;' type="text" v-model="minmoney" size="3" placeholder="￥">-
		<input type="text" v-model="maxmoney" size="3" placeholder="￥">
		<button type="button" @click="findAll">搜索</button>
		
		<table
			class="table table-hover table-striped table-bordered table-dark">


			<tr>
				<th>id</th>
				<th>用户名称</th>
				<th>拍品名称</th>
				<th>拍下金额</th>
				<th>拍下时间</th>
				<th>描述</th>
				<th>最后期限时间</th>
				<th>支付情况</th>
				<th>操作</th>
			</tr>
			<tr v-for="item in list" >
				<th>{{item.ghid}}</th>
				<th>{{item.user.uname}}</th>
				<th>{{item.goods.gname}}</th>
				<th>{{item.ghmoney}}</th>
				<th>{{item.ghtime}}</th>
				<th>{{item.ghdes}}</th>
				<th>{{item.ghdeadline}}</th>
				<th v-if="item.paystate==0">待付款</th>
				<th v-if="item.paystate==1">已付款</th>
				<th>
					<button @click="updateUI(item)" class="btn btn-warning btn-sm">修改</button>
					<button @click="del(item.ghid)" class="btn btn-danger btn-sm">删除</button>
				</th>
			</tr>
		</table>

		<div id="demo7"></div>
	</div>

	<script>
	var form = layui.form;
	var laypage = layui.laypage;
	form.render();
	
	var vue  = new Vue({
		el:"#app",
		data:{
			list:[],
			page:'',
			search:'',
			minmoney:'',
			maxmoney:''
		},
		methods:{
			findAll(){
				var self = this;
				var par = {"p":self.page.p , "size":self.page.size,"search":self.search,
						"minmoney":self.minmoney,"maxmoney":self.maxmoney};
				axios.get("http://localhost:8080/ghistorys" , {params: par}).then(function(response){
					self.list = response.data.list;
					self.page = response.data;
					

					<!--分页layui -->
					laypage.render({
					    elem: 'demo7',
					    count: response.data.rowCount,
					    curr: response.data.p,
					    limit: response.data.size,
					    	limits:[2,5,10,20],
					    first: '首页',
					    last: '尾页',
					    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					    jump: function(obj,first){
						    if(!first){
						      var param ={"p":obj.curr,"size":obj.limit,"search":self.search,
						    		  "minmoney":self.minmoney,"maxmoney":self.maxmoney};
						      axios.get("http://localhost:8080/ghistorys" , {params: param}).then(function(response){
						    		self.list = response.data.list;
									self.page = response.data
						      });
						    }
					    }
					  });
					
				});
			},
			updateUI(item){
				var self = this;
				layer.open({
					type : 2,
					title : "添加竞价记录",
					area : ['650px' , '450px'],
					content : 'updateUI.html',
					  success: function (layero, index) {
		                    // 获取子页面的iframe
		                    var iframe = window['layui-layer-iframe' + index];
		                    // 向子页面的全局函数child传参
		                    iframe.child(item,index);
		                    
		                  
		                }
				});
			},
			
			save(){
				var self = this;
				layer.open({
					type : 2,
					title : "添加竞价记录",
					area : ['650px' , '450px'],
					content : 'saveUI.html',
					  success: function (layero, index) {
		                    // 获取子页面的iframe
		                    var iframe = window['layui-layer-iframe' + index];
		                    // 向子页面的全局函数child传参
		                    iframe.child(index);
		                    
		                  
		                }
				});
				
			},
			
			del(ghid){
				var self = this;
				
				layer.confirm('是否删除？？？', {
					  btn: ['删除','取消'] //按钮
					}, function(){
					  
					  var param ={"ghid":ghid};
						axios.delete("http://localhost:8080/ghistorys" , {params: param}).then(function(){
							self.findAll();
							layer.msg('删除成功！！', {icon: 1});
						});
					}, function(){
						layer.msg('已取消', {icon: 2});
					});
				
				
				
			}
			
			
		},
		
		mounted:function(){
			this.findAll();
		}

	});

</script>
</body>
</html>