<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.domain.Log">
    <id column="lig" jdbcType="INTEGER" property="lig" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="ltime" jdbcType="TIMESTAMP" property="ltime" />
    <result column="loption" jdbcType="CHAR" property="loption" />
  </resultMap>
  
  
  
  <select id="selectLogByUid" parameterType="Integer" resultMap="rm">
  	select * from user u JOIN log l on u.uid=l.lid where l.uid=#{uid}
  </select>
  <resultMap type="Log" id="rm">
  	<id property="lid" column="lid"/>
  	<result property="ltime" column="ltime"/>
  	<result property="loption=" column="loption"/>
  	<association property="user" javaType="User">
  		<id column="uid" property="uid" />
	    <result column="cid" property="cid" />
	    <result column="uname" property="uname" />
	    <result column="upwd" property="upwd" />
	    <result column="ustate" property="ustate" />
	    <result column="avatar" property="avatar" />
	    <result column="salt" property="salt" />
  	</association>
  </resultMap>
  
  
  
  
  
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lig, uid, ltime, loption
  </sql>
  <select id="selectByExample" parameterType="com.woniuxy.domain.LogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where lig = #{lig,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where lig = #{lig,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.domain.LogExample">
    delete from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.domain.Log">
    insert into log (lig, uid, ltime, 
      loption)
    values (#{lig,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{ltime,jdbcType=TIMESTAMP}, 
      #{loption,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.domain.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lig != null">
        lig,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="ltime != null">
        ltime,
      </if>
      <if test="loption != null">
        loption,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lig != null">
        #{lig,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="ltime != null">
        #{ltime,jdbcType=TIMESTAMP},
      </if>
      <if test="loption != null">
        #{loption,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.domain.LogExample" resultType="java.lang.Long">
    select count(*) from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update log
    <set>
      <if test="record.lig != null">
        lig = #{record.lig,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.ltime != null">
        ltime = #{record.ltime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loption != null">
        loption = #{record.loption,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update log
    set lig = #{record.lig,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      ltime = #{record.ltime,jdbcType=TIMESTAMP},
      loption = #{record.loption,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.domain.Log">
    update log
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="ltime != null">
        ltime = #{ltime,jdbcType=TIMESTAMP},
      </if>
      <if test="loption != null">
        loption = #{loption,jdbcType=CHAR},
      </if>
    </set>
    where lig = #{lig,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.domain.Log">
    update log
    set uid = #{uid,jdbcType=INTEGER},
      ltime = #{ltime,jdbcType=TIMESTAMP},
      loption = #{loption,jdbcType=CHAR}
    where lig = #{lig,jdbcType=INTEGER}
  </update>
</mapper>