<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

	 <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">文章ID</label>
            <div class="layui-input-inline">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline">
              <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
              <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">文章标签</label>
            <div class="layui-input-inline">
              <select name="label">
                <option value="">请选择标签</option>
                <option value="0">美食</option>
                <option value="1">新闻</option>
                <option value="2">八卦</option>
                <option value="3">体育</option>
                <option value="4">音乐</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
          <button @click='add()' class="layui-btn layuiadmin-btn-list">添加</button>
        </div>
      </div>
    </div>
  </div>
	
	
	
	
	
	<table id="app" class="table table-hover table-striped table-bordered table-dark">
		<tr>
			<th>拍品id</th>
			<th>拍品名</th>
			<th>起拍价格</th>
			<th>起拍时间</th>
			<th>结束时间</th>
			<th>围观次数</th>
			<th>加价幅度</th>
			<th>审核通过时间</th>
			<th>状态</th>
			<th>区域</th>
			<th>详细信息</th>
			<th>卖家id</th>
			<th>拍品类型id</th>
			<th>操作</th>
		</tr>
		<tr v-for="g in goods">
			<td>{{g.gid}}</td>
			<td>{{g.gname}}</td>
			<td>{{g.gprice}}</td>
			<td>{{g.gstart}}</td>
			<td>{{g.gend}}</td>
			<td>{{g.gcount}}</td>
			<td>{{g.ggap}}</td>
			<td>{{g.gpasstime}}</td>
			<td>{{g.gstate}}</td>
			<td>{{g.garea}}</td>
			<td>{{g.ginfo}}</td>
			<td>{{g.salerid}}</td>
			<td>{{g.gtid}}</td>


			<td>
			<button @click='updateUI(g)' id='update' type='button' class='btn btn-warning'>修改</button>
			<button @click='del(g.gid)' id='del' type='button' class='btn btn-danger'>删除</button>
			</td>
		</tr>
		<tr>
			<td>增加</td>
			<td><input v-model="gname"/></td>
			<td><input v-model="gprice"/></td>
			<td><input v-model="gstart" /></td>
			<td><input v-model="gend" /></td>
			<td><input v-model="gcount"/></td>
			<td><input v-model="ggap"/></td>
			<td><input v-model="gpasstime" /></td>
			<td><input v-model="gstate" /></td>
			<td><input v-model="garea"/></td>
			<td><input v-model="ginfo"/></td>
			<td><input v-model="salerid"/></td>
			<td><input v-model="gtid"/></td>
			<td><button @click='save'>增加拍品</button></td>
		</tr>
		<tr>
		
			<td>修改</td>
			<td hidden="true"><input v-model="u_gid" /></td>
			<td><input v-model="u_gname"/></td>
			<td><input v-model="u_gprice"/></td>
			<td><input v-model="u_gstart" /></td>
			<td><input v-model="u_gend" /></td>
			<td><input v-model="u_gcount"/></td>
			<td><input v-model="u_ggap"/></td>
			<td><input v-model="u_gpasstime" /></td>
			<td><input v-model="u_gstate" /></td>
			<td><input v-model="u_garea"/></td>
			<td><input v-model="u_ginfo"/></td>
			<td><input v-model="u_salerid"/></td>
			<td><input v-model="u_gtid"/></td>
			<td><button  @click='update'>修改拍品</button></td>
		</tr>
	</table>
</body>
 <script src="../../../layuiadmin/layui/layui.js"></script>  
	<script>
		var vue = new Vue({
			el: "#app",
			data: {
				gname:'',
				gprice:'',
				gstart:'',
				gend:'',
				gcount:'',
				ggap:'',
				gpasstime:'',
				gstate:'',
				garea:'',
				ginfo:'',
				salerid:'',
				gtid:'',
				
				u_gid:'',
				u_gname:'',
				u_gprice:'',
				u_gstart:'',
				u_gend:'',
				u_gcount:'',
				u_ggap:'',
				u_gpasstime:'',
				u_gstate:'',
				u_garea:'',
				u_ginfo:'',
				u_salerid:'',
				u_gtid:'',
				goods: []
			},
			mounted: function() { //mounted　表示这个 Vue 对象加载成功了
		 		var self = this
				axios.get("http://localhost:8080/goods").then(function(response) {
					self.goods = response.data; //此时还是字符串
					/* self.orders = eval("(" + self.orders + ")"); //字符串转换为数组对象 */
					
				})
			},
			 
			methods: {
				findAll() {
					var self = this;
					axios.get("http://localhost:8080/goods").then(function(response) {
						self.goods = response.data; //此时还是字符串
					})
				},
				del(gid) {
				
					if(!confirm('是否要删除当前数据')){
						return;
	                }
					
					var self = this;
					axios.delete("http://localhost:8080/goods?gid=" + gid).then(function(response) {
						alert('删除成功');
						self.findAll();
					})
				},

				
				updateUI(g) {
	
					this.u_gid=g.gid,
					this.u_gname=g.gname,
					this.u_gprice=g.gprice,
					this.u_gstart=g.gstart,
					this.u_gend=g.gend,
					this.u_gcount=g.gcount,
					this.u_ggap=g.ggap,
					this.u_gpasstime=g.gpasstime,
					this.u_gstate=g.gstate,
					this.u_garea=g.garea,
					this.u_ginfo=g.ginfo,
					this.u_salerid=g.salerid,
					this.u_gtid=g.gtid

				},
				update(g) {
					alert(g);
					this.u_gid=g.gid,
					this.u_gname=g.gname,
					this.u_gprice=g.gprice,
					this.u_gstart=g.gstart,
					this.u_gend=g.gend,
					this.u_gcount=g.gcount,
					this.u_ggap=g.ggap,
					this.u_gpasstime=g.gpasstime,
					this.u_gstate=g.gstate,
					this.u_garea=g.garea,
					this.u_ginfo=g.ginfo,
					this.u_salerid=g.salerid,
					this.u_gtid=g.gtid

				},
				save() {
					var self = this; 
					axios.post("http://localhost:8080/goods", {
						gname:self.gname,
						gprice: self.gprice,
						gstart: self.gstart,
						gend: self.gend,
						gcount: self.gcount,
						ggap: self.ggap,
						gpasstime: self.gpasstime,
						gstate: self.gstate,
						garea: self.garea,
						ginfo: self.ginfo,
						salerid: self.salerid,
						gtid: self.gtid
	
					}).then(function(response) {
						self.findAll();
						alert('添加成功!');
					})
				}
			}
			
		});
	</script>
</html>