<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
	input{
		width: 90px
	}
</style>
</head>
<body>


<div id="app">
	<button type="button" class="btn btn-success btn-block"
				data-toggle="modal" data-target="#myModal2"
				>添加</button>  
		
<!--编辑  修改模态框-->
	<div class="container">
		<!-- 模态框 -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- 模态框头部 -->
					<div class="modal-header">
						<h4 class="modal-title">修改拍品页面</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- 模态框主体 -->
					<div class="modal-body">
						<div >
							<label for="pwd">拍品id:</label> <input type="text" class="form-control" v-model="u_gid"  disabled="disabled"/>
						</div>
						<div>
							<label for="pwd">拍品名称:</label> <input type="text" class="form-control" v-model="u_gname" />
						</div>
						<div>
							<label for="pwd">拍品价格:</label> <input type="text" class="form-control" v-model="u_gprice" />
						</div>
						<div>
							<label for="pwd">起拍时间:</label> <input type="text" class="form-control" v-model="u_gstart" />
						</div>
						<div>
							<label for="pwd">结束时间:</label> <input type="text" class="form-control" v-model="u_gend" />
						</div>
						<div>
							<label for="pwd">围观次数:</label> <input type="text" class="form-control" v-model="u_gcount" />
						</div>
						<div>
							<label for="pwd">加价幅度:</label> <input type="text" class="form-control" v-model="u_ggap" />
						</div>
						<div>
							<label for="pwd">审核通过时间:</label> <input type="text" class="form-control" v-model="u_gpasstime" />
						</div>
						<div>
							<label for="pwd">状态:</label> 
							<select class="form-control" v-model="u_gstate">
								<option value="0">待审核</option>
								<option value="1">未通过审核</option>
								<option value="2">公告期</option>
								<option value="3">拍卖期</option>
								<option value="4">无效</option>
								<option value="5">等待竞价</option>
								<option value="6">竞价失败</option>
								<option value="7">已成交</option>
							</select>
						</div>
						<div>
							<label for="pwd">区域:</label> 
							<select class="form-control" v-model="u_garea">
								<option value="北京">北京</option>
								<option value="上海">上海</option>
								<option value="广东">广东</option>
								<option value="深圳">深圳</option>
								<option value="西安">西安</option>
								<option value="成都">成都</option>
							</select>
						</div>
						<div>
							<label for="pwd">详细信息:</label> <input type="text" class="form-control" v-model="u_ginfo" />
						</div>
						<div>
							<label for="pwd">卖家id:</label> <input type="text" class="form-control" v-model="u_salerid" />
						</div>
						<div>
							<label for="pwd" >拍品类型id:</label>
										<select class="form-control" v-model="u_gtid">
											<option v-for="gt in goodsType">{{gt.gtid}}</option>
										</select>
						</div>
					</div>
					<!-- 模态框底部 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal"  @click='update(goods.p)'>提交</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加模态框 -->
	<div class="container">
			<!-- 模态框 -->
			<div class="modal fade" id="myModal2">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<!-- 模态框头部 -->
						<div class="modal-header">
							<h4 class="modal-title">添加拍品页面</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- 模态框主体 -->
						<div class="modal-body">
							<div>
								<label for="pwd">拍品名称:</label> <input type="text" class="form-control" v-model="gname" />
							</div>
							<div>
								<label for="pwd">拍品价格:</label> <input type="text" class="form-control" v-model="gprice" />
							</div>
							<div>
								<label for="pwd">起拍时间:</label> <input type="text" class="form-control" v-model="gstart" />
							</div>
							<div>
								<label for="pwd">结束时间:</label> <input type="text" class="form-control" v-model="gend" />
							</div>
							<div>
								<label for="pwd">围观次数:</label> <input type="text" class="form-control" v-model="gcount" />
							</div>
							<div>
								<label for="pwd">加价幅度:</label> <input type="text" class="form-control" v-model="ggap" />
							</div>
							<div>
								<label for="pwd">审核通过时间:</label> <input type="text" class="form-control" v-model="gpasstime" />
							</div>
							<div>
								<label for="pwd">状态:</label> 
								<select class="form-control" v-model="gstate">
									<option value="0">待审核</option>
									<option value="1">未通过审核</option>
									<option value="2">公告期</option>
									<option value="3">拍卖期</option>
									<option value="4">无效</option>
									<option value="5">等待竞价</option>
									<option value="6">竞价失败</option>
									<option value="7">已成交</option>
								</select>
							</div>
							<div>
								<label for="pwd">区域:</label> 
								<select class="form-control" v-model="garea">
									<option value="北京">北京</option>
									<option value="上海">上海</option>
									<option value="广东">广东</option>
									<option value="深圳">深圳</option>
									<option value="西安">西安</option>
									<option value="成都">成都</option>
								</select>
							</div>
							<div>
								<label for="pwd">详细信息:</label> <input type="text" class="form-control" v-model="ginfo" />
							</div>
							<div>
								<label for="pwd">卖家id:</label> <input type="text" class="form-control" v-model="salerid" />
							</div>
							<div>
								<label for="pwd">拍品类型id:</label>
											<select class="form-control" v-model="gtid">
												<option v-for="gt in goodsType" >{{gt.gtid}}</option>
											</select>
							</div>
						</div>
						<!-- 模态框底部 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal"  @click='save'>提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>	

	<table class="table table-hover table-striped table-bordered table-dark">

	
		<tr>
			<th>拍品id</th>
			<th>拍品名</th>
			<th>起拍价格</th>
			<th>起拍时间</th>
			<th>结束时间</th>
			<th>围观次数</th>
			<th>加价幅度</th>
			<th>审核通过时间</th>
			<th>状态</th>
			<th>区域</th>
			<th>详细信息</th>
			<th>卖家id</th>
			<th>拍品类型id</th>
			<th>操作</th>
		</tr>
		<tr v-for="g in goods.list">
			<td>{{g.gid}}</td>
			<td>{{g.gname}}</td>
			<td>{{g.gprice}}</td>
			<td>{{g.gstart}}</td>
			<td>{{g.gend}}</td>
			<td>{{g.gcount}}</td>
			<td>{{g.ggap}}</td>
			<td>{{g.gpasstime}}</td>
			<td>{{g.gstate}}</td>
			<td>{{g.garea}}</td>
			<td>{{g.ginfo}}</td>
			<td>{{g.salerid}}</td>
			<td>{{g.gtid}}</td>


			<td>
			
			<button type="button" class="btn btn-outline-info"
				data-toggle="modal" data-target="#myModal"
				@click='getEdit(g)'>编辑</button>  
		

			<button @click='del(g.gid,goods.p)' id='del' type='button' class='btn btn-danger'>删除</button>
							
			</td>
		</tr>
		
		<tr>
			<th colspan="13"
				style="vertical-align: middle !important; text-align: center;">
				{{goods.p}}/{{goods.maxPage}}
				<button @click='findAll(1)' class="btn btn-outline-info">首页</button>
				<button @click='findAll(goods.prev)' class="btn btn-outline-info">上一页</button>
				<span v-for="i in u_pages"> <span v-if="i==goods.p"
					class="btn"><font color="red">{{i}}</font></span> <span
					@click='findAll(i)' v-if="!(i==goods.p)" class="btn"
					style="cursor: pointer"><font>{{i}}</font></span>
				</span>
				<button @click='findAll(goods.next)' class="btn btn-outline-info">下一页</button>
				<button @click='findAll(goods.maxPage)' class="btn btn-outline-info">末页</button>
			</th>
		</tr>
	</table>
</div>
	
</body>
 <script src="../../../layuiadmin/layui/layui.js"></script>  
	<script>
		var vue = new Vue({
			el: "#app",
			data: {
				
				gname:'',
				gprice:'',
				gstart:'2019-09-12 20:56:27',
				gend:'2019-09-12 20:56:27',
				gcount:'',
				ggap:'',
				gpasstime:'2019-09-12 20:56:27',
				gstate:'',
				garea:'',
				ginfo:'',
				salerid:'',
				gtid:'',
				
				u_gid:'',
				u_gname:'',
				u_gprice:'',
				u_gstart:'',
				u_gend:'',
				u_gcount:'',
				u_ggap:'',
				u_gpasstime:'',
				u_gstate:'',
				u_garea:'',
				u_ginfo:'',
				u_salerid:'',
				u_gtid:'',
				goods: [],
		
				u_pages:[],
				goodsType:[] //回显的goodsType值
			},
			
			created: function(){ 
				this.findAll(1);
				this.getGoodsType();
			},
			 
			methods: {
				findAll(page) { 
			 		var self = this;
					axios.get("http://localhost:8080/goods",{
						params:{
							p:page
						}
					}).then(function(response) {
						self.goods = response.data; 
						self.u_pages=[];
						self.pages(self.goods.startPage,self.goods.endPage);
					})
				},
				
				del(gid,p) {
				
					if(!confirm('是否要删除当前数据')){
						return;
	                }
					
					var self = this;
					axios.delete("http://localhost:8080/goods?gid=" + gid).then(function(response) {
						alert('删除成功');
						self.findAll(p);
					})
				},
				/* 编辑时的数据回显 */
				getEdit(g){
					this.u_gid=g.gid,
					this.u_gname=g.gname,
					this.u_gprice=g.gprice,
					this.u_gstart=g.gstart,
					this.u_gend=g.gend,
					this.u_gcount=g.gcount,
					this.u_ggap=g.ggap,
					this.u_gpasstime=g.gpasstime,
					this.u_gstate=g.gstate,
					this.u_garea=g.garea,
					this.u_ginfo=g.ginfo,
					this.u_salerid=g.salerid,
					this.u_gtid=g.gtid
				},
			
				update(p) {
					
					var self = this; 
					axios.put("http://localhost:8080/goods", {

						gid:this.u_gid,
						gname:this.u_gname,
						gprice:this.u_gprice,
						gstart:this.u_gstart,
						gend:this.u_gend,
						gcount:this.u_gcount,
						ggap:this.u_ggap,
						gpasstime:this.u_gpasstime,
						gstate:this.u_gstate,
						garea:this.u_garea,
						ginfo:this.u_ginfo,
						salerid:this.u_salerid,
						gtid:this.u_gtid 

	
					}).then(function(response) {
						self.findAll(p); //修改后回显当前页面
						alert('更改成功!');
				
					})

				},
				save() {
					var self = this; 
					axios.post("http://localhost:8080/goods", {
						gname:self.gname,
						gprice: self.gprice,
						gstart: self.gstart,
						gend: self.gend,
						gcount: self.gcount,
						ggap: self.ggap,
						gpasstime: self.gpasstime,
						gstate: self.gstate,
						garea: self.garea,
						ginfo: self.ginfo,
						salerid: self.salerid,
						gtid: self.gtid
	
					}).then(function(response) {
						self.findAll();
						alert('添加成功!');
					})
				},
				/*分页页码数据  */
				pages(startPage,endPage){
					var self=this;
					for(i=startPage;i<=endPage;i++){
						self.u_pages.push(i);
					};
				},
				/*添加时候回显拍品类型 */
				getGoodsType(){
					var self = this;
					axios.get("http://localhost:8080/goods/getGoodsType").then(function(response) {
						self.goodsType = response.data; 
		
					})
				}
			}
			
		});
	</script>
</html>