<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PaiPaiAdmin 网站用户</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="/layuiadmin/style/admin.css"
	media="all">
	
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
	<!-- 搜索筛选功能 -->
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<!-- 添加公告 -->
					<button type='button' data-toggle="modal" data-target="#myModal2" class='layui-btn layui-btn-warm' style="margin-bottom: 10px;">添加公告</button>
					
					<div class="layui-inline">
						<label class="layui-form-label">拍品ID</label>
						<div class="layui-input-block">
							<input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">时间</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-block">
							<input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 主体内容 -->
		<table class="table table-hover table-striped table-bordered table-light" lay-skin="line">
			<!-- 表头 -->
			<thead>
				<tr>
					<th width="8%">公告id</th>
					<th width="10%">拍品名称</th>
					<th width="25%">公告内容</th>
					<th width="20%">公告起始时间</th>
					<th width="20%">公告结束时间</th>
					<th width="17%">操作</th>
				</tr>
			</thead>
			<!-- 表结构 -->
			<tr v-for="anno in announces.list">
				<td>{{anno.anid}}</td>
				<td>{{anno.goods.gname}}</td>
				<td>{{anno.ancontent}}</td>
				<td>{{anno.anstart}}</td>
				<td>{{anno.anend}}</td>
				<td>
					<button @click='updateUI(anno)' type='button' data-toggle="modal" data-target="#myModal"  class="layui-btn ">
						<i class="layui-icon">&#xe642;</i>
					</button>
					<button @click='del(anno.anid)' class="layui-btn"><i class="layui-icon">&#xe640;</i></button>
				</td>
			</tr>
			
	
			<!-- 增加模态框 -->
			<div class="container">
				<div class="modal fade" id="myModal2">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<!-- 模态框头部 --> 
							<div class="modal-header">
								<h3 class="modal-title">新增公告</h3>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- 模态框主体 -->
							<div class="modal-body">
								<div>
									<label for="pwd">拍品id:</label> 
									<select class="form-control" v-model="gid">
										<option disabled   style="display: none" selected value >---请选择---</option>
										<option v-for="goods in allGoods" >{{goods.gid}}</option>
									</select>
									<!-- <input type="text" class="form-control" v-model="u_gid"/> -->
								</div>
								<div>
									<label for="pwd">公告内容:</label> 
									<textarea style="height:120px;" class="form-control" v-model="ancontent" placeholder="请输入公告内容" ></textarea>
								</div>
								<div>
									<label for="pwd">公告开始时间:</label> <input type="text"
										class="form-control" v-model="anstart" placeholder="请输入起始时间"/>
								</div>
								<div>
									<label for="pwd">公告结束时间:</label> <input type="text"
										class="form-control" v-model="anend" placeholder="请输入结束时间"/>
								</div>
							</div>
		
							<!-- 模态框底部 -->
							<div class="modal-footer">
								<button @click='save' type="button" class="layui-btn" data-dismiss="modal">提交</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 修改模态框 -->
			<div class="container">
				<div class="modal fade" id="myModal">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<!-- 模态框头部 -->
							<div class="modal-header">
								<h3 class="modal-title">修改公告</h3>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- 模态框主体 -->
							<div class="modal-body">
									<input type="hidden" v-model="u_anid" />
								<div>
									<label for="pwd">拍品名称:</label> 
									<select class="form-control" v-model="u_gid" >
										<option v-for="goods in allGoods">{{goods.gid}}</option>
									</select>
									<!-- <input type="text" class="form-control" v-model="u_gid"/> -->
								</div>
								<div>
									<label for="pwd">公告内容:</label> 
									<textarea style="height:120px;" class="form-control" v-model="u_ancontent" ></textarea>
								</div>
								<div>
									<label for="pwd">公告起始时间 :</label> <input type="text"
										class="form-control" v-model="u_anstart"/>
								</div>
								<div>
									<label for="pwd">公告结束时间:</label> <input type="text"
										class="form-control" v-model="u_anend"/>
								</div>
							</div>
		
							<!-- 模态框底部 -->
							<div class="modal-footer">
								<button @click='update' type="button" class="layui-btn" data-dismiss="modal">提交</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 分页功能 -->
			<tr>
				<th colspan="6" style="vertical-align: middle !important; text-align: center;">
					第 {{announces.p}}/{{announces.maxPage}} 页&nbsp;&nbsp;
					<button @click="findAll(1)" class="btn btn-outline-info">首页</button>
					<button @click='findAll(announces.prev)' class="btn btn-outline-info">上一页</button> 
					<span v-for="i in vpages"> 
						<span v-if="i==announces.p" class="btn">
							<font color="#009688" style="font-weight: bolder;">{{i}}</font>
						</span> 
						<span @click='findAll(i)' v-if="!(i==announces.p)" class="btn" style="cursor: pointer">
							<font>{{i}}</font>
						</span>
					</span>
					<button @click='findAll(announces.next)' class="btn btn-outline-info">下一页</button>
					<button @click="findAll(announces.maxPage)" class="btn btn-outline-info">末页</button>
					&nbsp;&nbsp; 共   {{announces.rowCount}} 条记录
				</th>
			</tr>
		</table>
	</div>
</div>
</body> 


<script>
    var vue=new Vue({
		el:"#app",
		data:{
			announces:[],
			vpages:[],
			allGoods:[],
			gid:'',
			ancontent:'',
			anstart:'',
			anend:'',
			u_anid:'',
			u_gid:'',
			u_ancontent:'',
			u_anstart:'',
			u_anend:''
		},
		methods:{
			//查询所有公告
			findAll(page){
				var self=this;
				axios.get("http://localhost:8080/announces" , {params:{p:page}}).then(function(response){
					//返回所有公告
					self.announces = response.data; //此时还是字符串
					// self.announces = eval("(" + self.announces + ")"); //字符串转换为数组对象
					self.vpages=[];
					self.pages(self.announces.startPage,self.announces.endPage);
				});
			},
			//增加公告
			save(){
				var self=this;
				if(self.gid&&self.ancontent!=null){
					axios.post("http://localhost:8080/announces",{
							gid:self.gid,
							ancontent:self.ancontent,
							anstart:self.anstart,
							anend:self.anend
					}).then(function(response){
						self.gid=self.ancontent="";
						self.findAll(self.announces.p);
					})
				}else{
					alert("拍品id和内容不能为空！")
				}
			},
			//删除公告
			del(anid){
				if(confirm('确定要删除吗？')==true){
					var self=this;
					axios.delete("http://localhost:8080/announces?anid="+anid).then(function(response){
						self.findAll(self.announces.p);
					})
				}
			},
			//修改公告时数据回显
			updateUI(anno){
				this.u_anid=anno.anid;
				this.u_gid=anno.goods.gid;
				this.u_ancontent=anno.ancontent;
				this.u_anstart=anno.anstart;
				this.u_anend=anno.anend;
			},
			//修改公告
			update(){
				var self=this;
				axios.put("http://localhost:8080/announces",{
					anid:self.u_anid,
					gid:self.u_gid,
					ancontent:self.u_ancontent,
					anstart:self.u_anstart,
					anend:self.u_anend
				}).then(function(response){
					self.findAll(self.announces.p);
				})
			},
			//查询所有拍品
			findAllGoods(){
				var self=this;
				axios.get("http://localhost:8080/goods").then(function(response){
					self.allGoods=response.data;
				})
			},
			
			//分页中间页码数据
			pages(startPage,endPage){
				var self=this;
				for(i=startPage;i<=endPage;i++){
					self.vpages.push(i);
				}
			}
		},
		mounted:function(){//vue生命周期
			this.findAll(1);
			this.findAllGoods();
		}
	});
</script>
</html>