

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PaiPaiAdmin 网站用户</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js" ></script>
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">ID</label>
						<div class="layui-input-block">
							<input type="text" name="id" placeholder="请输入" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-block">
							<input type="text" name="email" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block">
							<select name="sex">
								<option value="0">不限</option>
								<option value="1">男</option>
								<option value="2">女</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-useradmin" lay-submit
							lay-filter="LAY-user-front-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>



			<table id="app"
				class="table table-hover table-striped table-bordered table-dark">

				<tbody>
					<tr>
						<th>公告id</th>
						<th>拍品id</th>
						<th>公告内容</th>
						<th>公告起始时间</th>
						<th>公告结束时间</th>
						<th>操作</th>
					</tr>
				</tbody>
				<tr v-for="anno in announces">
					<td>{{anno.anid}}</td>
					<td>{{anno.gid}}</td>
					<td>{{anno.ancontent}}</td>
					<td>{{anno.anstart}}</td>
					<td>{{anno.anend}}</td>
					<td>
						<button @click='updateUI(anno)' type='button' class='btn btn-info'>修改</button>
						&nbsp;&nbsp;
						<button @click='del(anno.anid)' class='btn btn-danger'>删除</button>
					</td>
				</tr>
				<tr>
					<td>增加</td>
					<td>
						<select v-model="gid">
							<option v-for="goods in allGoods">{{goods.gid}}</option>
						</select>
					</td>
					<td><input type="text" v-model="ancontent" placeholder="请输入竞拍内容"/></td>
					<td><input type="text" v-model="anstart" placeholder="请输入起拍时间"/></td>
					<td><input type="text" v-model="anend" placeholder="请输入结束时间"/></td>
					<td>
						<button @click='save' type='button' class='btn btn-info'>添加公告</button>
					</td>
				</tr>
				<tr v-if="flag">
					<td><input type="hidden" v-model="u_anid" />修改</td>
					
					<td>
						<select v-model="u_gid">
							<option v-for="goods in allGoods">{{goods.gid}}</option>
						</select>
					</td>
					<td><input type="text" v-model="u_ancontent" /></td>
					<td><input type="text" v-model="u_anstart" /></td>
					<td><input type="text" v-model="u_anend" /></td>
					<td>
						<button @click='update' type='button' class='btn btn-warning'>确认修改</button>
					</td>
				</tr>
			</table>
</body>
<script>
    var vue=new Vue({
		el:"#app",
		data:{
			allGoods:[],
			announces:[],
			gid:'',
			ancontent:'',
			anstart:'',
			anend:'',
			u_anid:'',
			u_gid:'',
			u_ancontent:'',
			u_anstart:'',
			u_anend:'',
			flag:false
		},
		methods:{
			//查询所有公告
			findAll(){
				var self=this;
				axios.get("http://localhost:8080/announces").then(function(response) {
					self.announces = response.data; //此时还是字符串
				})
			},
			//增加公告
			save(){
				var self=this;
				axios.post("http://localhost:8080/announces",{
					gid:self.gid,
					ancontent:self.ancontent,
					anstart:self.anstart,
					anend:self.anend
				}).then(function(response){
					self.findAll();
				})
			},
			//删除公告
			del(anid){
				var self=this;
				axios.delete("http://localhost:8080/announces?anid="+anid).then(function(response){
					self.findAll();
				})
			},
			//将要修改的数据添加到输入框中
			updateUI(anno){
				this.flag=true;
				this.u_anid=anno.anid;
				this.u_gid=anno.gid;
				this.u_ancontent=anno.ancontent;
				this.u_anstart=anno.anstart;
				this.u_anend=anno.anend;
			},
			//修改公告
			update(){
				var self=this;
				axios.put("http://localhost:8080/announces",{
					anid:self.u_anid,
					gid:self.u_gid,
					ancontent:self.u_ancontent,
					anstart:self.u_anstart,
					anend:self.u_anend
				}).then(function(response){
					alert("修改成功！");
					self.findAll();
				})
			},
			
			//查询所有拍品id供管理员新增公告时选择
			findAllGoods(){
				var self=this;
				axios.get("http://localhost:8080/goods").then(function(response){
					self.allGoods=response.data;
				})
			}
		},
		mounted: function() { //mounted　表示这个 Vue 对象加载成功了
			this.findAll();
			this.findAllGoods();
		}
	});
</script>
</html>