<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../layer/layer.js"></script>
</head>
<body>
	<div id="app">
		<!-- 头部搜索和增加 -->
		<div class="layui-fluid">
			<div class="layui-card">
				<div
					class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">订单id</label>
							<div class="layui-input-inline">
								<input type="text" name="id" v-model="o_odid" placeholder="请输入"
									autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">buyerName</label>
							<div class="layui-input-inline">
								<input type="text" name="author" placeholder="请输入"
									autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">goodsName</label>
							<div class="layui-input-inline">
								<input type="text" name="title" placeholder="请输入"
									autocomplete="off" class="layui-input">
							</div>
						</div>
						<!-- 条件查询 -->
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-list" lay-submit
								lay-filter="LAY-app-contlist-search" @click="findById(o_odid)">
								<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
							</button>
						</div>
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-list" data-toggle="modal" data-type="add"
								data-target="#myModal2">添加</button>
						</div>
					</div>
				</div>


			</div>
		

		<!-- add弹框-->
		<div class="container">
			<!-- 模态框 -->
			<div class="modal fade" id="myModal2">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<!-- 模态框头部 -->
						<div class="modal-header">
							<h4 class="modal-title">增加订单</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- 模态框主体 -->
						<div class="modal-body">
							<div>
								<label for="pwd">订单id:</label> <input v-model="o_odid"
									type="text" class="form-control" placeholder="拍品id">
							</div>
							<div>
								<label for="pwd">成交金额:</label> <input v-model="o_odmoney"
									type="text" class="form-control" placeholder="成交金额">
							</div>

							<div>
								<label for="pwd">成交时间 :</label> <input v-model="o_odtime"
									type="date" class="form-control" placeholder="成交时间">
							</div>

							<div>
								<label for="pwd">买家id:</label> <input v-model="o_buyerid"
									type="text" class="form-control" placeholder="买家id">
							</div>
							<div>
								<label for="pwd">卖家id :</label> <input v-model="o_salerid"
									type="text" class="form-control" placeholder="卖家id">
							</div>
							<div>
								<label for="pwd">保证金:</label> <input v-model="o_odfee"
									type="text" class="form-control" placeholder="保证金">
							</div>
							<div>
								<label for="pwd">用户名称 :</label> <input v-model="o_uid"
									type="text" class="form-control" placeholder="用户名称">
							</div>
							<div>
								<label for="pwd">拍品名称 :</label> <input v-model="o_gid"
									type="text" class="form-control" placeholder="拍品名称">
							</div>
							<div>
								<label for="pwd">地址 :</label> <input v-model="o_aid" type="text"
									class="form-control" placeholder="地址">
							</div>


						</div>
						<!-- 模态框底部 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" @click="add">提交</button>
						</div>
					</div>
				</div>
			</div>




			<!-- update弹框-->

			<!-- 模态框 -->
			<div class="modal fade" id="myModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<!-- 模态框头部 -->
						<div class="modal-header">
							<h4 class="modal-title">开始编辑吧</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- 模态框主体 -->
						<div class="modal-body">
							<div>
								<label for="pwd">订单id:</label> <input v-model="o_odid"
									type="text" class="form-control" placeholder="拍品id">
							</div>
							<div>
								<label for="pwd">成交金额:</label> <input v-model="o_odmoney"
									type="text" class="form-control" placeholder="成交金额">
							</div>

							<div>
								<label for="pwd">成交时间 :</label> <input v-model="o_odtime"
									type="text" class="form-control" placeholder="成交时间">
							</div>

							<div>
								<label for="pwd">买家id:</label> <input v-model="o_buyerid"
									type="text" class="form-control" placeholder="买家id">
							</div>
							<div>
								<label for="pwd">卖家id :</label> <input v-model="o_salerid"
									type="text" class="form-control" placeholder="卖家id">
							</div>
							<div>
								<label for="pwd">保证金:</label> <input v-model="o_odfee"
									type="text" class="form-control" placeholder="保证金">
							</div>
							<div>
								<label for="pwd">用户名称 :</label> <input v-model="o_uid"
									type="text" class="form-control" placeholder="用户名称">
							</div>
							<div>
								<label for="pwd">拍品名称 :</label> <input v-model="o_gid"
									type="text" class="form-control" placeholder="拍品名称">
							</div>
							<div>
								<label for="pwd">地址 :</label> <input v-model="o_aid" type="text"
									class="form-control" placeholder="地址">
							</div>


						</div>
						<!-- 模态框底部 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" @click="update">提交</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- 主体 -->
		<table
			class="table table-hover table-striped table-bordered table-light"
			lay-skin="line">
			<tr>
				<th>订单id</th>
				<th>成交金额</th>
				<th>成交时间</th>
				<th>买家名称</th>
				<th>卖家名称</th>
				<th>手续费</th>
				<th>用户名称</th>
				<th>拍品名称</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			<tr v-for="order in orders.list">
				<td>{{order.odid}}</td>
				<td>{{order.odmoney}}</td>
				<td>{{order.odtime}}</td>
				<td>{{order.user.uname}}</td>
				<td>{{order.user.uname}}</td>
				<td>{{order.odfee}}</td>
				<td>{{order.user.uname}}</td>
				<td>{{order.goods.gname}}</td>
				<td>{{order.address.ainfo}}</td>
				<td>
					<div class="layui-btn-group">
						<button type="button" class="layui-btn" data-toggle="modal"
							data-target="#myModal" @click='updateUI(order)'>编辑</button>
						<button @click='del(order.odid)' id='update' type='button'
							class="layui-btn">删除</button>
					</div>
				</td>

			</tr>
			<tr>
				<th colspan="10"
					style="vertical-align: middle !important; text-align: center;">
					{{orders.p}}/{{orders.maxPage}}
					<button @click='find(1)' class="btn btn-outline-info">首页</button>
					<button @click='find(orders.prev)' class="btn btn-outline-info">上一页</button>
					<span v-for="i in v_pages"> <span v-if="i==orders.p"
						class="btn"><font color="red">{{i}}</font></span> <span
						@click='find(i)' v-if="!(i==orders.p)" class="btn"
						style="cursor: pointer"><font>{{i}}</font></span>
				</span>
					<button @click='find(orders.next)' class="btn btn-outline-info">下一页</button>
					<button @click='find(orders.maxPage)' class="btn btn-outline-info">末页</button>
				</th>
			</tr>
		</table>
	</div>
</div>
</body>
<script>
		var vue = new Vue({
			el: "#app",
			data: {
				orders: [],
				flag:false,
				v_pages:[],
				o_odid:'',
				o_odmoney:'',
				o_odtime:'',
				o_buyerid:'',
				o_salerid:'',
				o_odfee:'',
				o_uid:'',
				o_gid:'',
				o_aid:'' ,
				
				v_odid:'',
				v_odmoney:'',
				v_odtime:'',
				v_buyerid:'',
				v_salerid:'',
				v_odfee:'',
				v_uid:'',
				v_gid:'',
				v_aid:''  
			
			},
			created: function(){ 
				this.find(1);
			},
			
			 
			methods: {
				add() {
					
					var self=this;
				  	var dd2 = new Date(self.o_odtime);
				  	alert(dd2);
					var y = dd2.getFullYear();
					var m = (dd2.getMonth() + 1 + "").padStart(2,'0');
					var d = (dd2.getDate() + "").padStart(2,'0');
					var hh = (dd2.getHours() + "").padStart(2,'0');
					var mm = (dd2.getMinutes() + "").padStart(2,'0');
					var ss = (dd2.getSeconds() + "").padStart(2,'0');
				    var time= `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
					
					axios.post("http://localhost:8080/orders",{
						odid:self.o_odid,
						odmoney:self.o_odmoney,
						odtime:time,
						buyerid:self.o_buyerid,
						salerid:self.o_salerid,
						odfee:self.o_odfee,
						uid:self.o_uid,
						gid:self.o_gid,
						aid:self.o_aid
					})
					.then(function(response) {
						self.find(self.orders.p);
						self.o_odid = self.o_odmoney = self.o_odtime = self.o_buyerid = 
							self.o_salerid = self.o_odfee = self.o_uid = self.o_gid = self.o_aid = ""
					});
					
				},
				
				//分页展示
				find(page) { 
			 		var self = this;
					axios.get("http://localhost:8080/orders",{
						params:{
							p:page
						}
					}).then(function(response) {
						self.orders = response.data; 
						self.v_pages=[];
						self.pages(self.orders.startPage,self.orders.endPage);
					})
				},
				
				findById(odid) { 
					alert(odid);
			 		var self = this;
					axios.get("http://localhost:8080/orders/{"+odid+"}")
					.then(function(response) {
						self.orders = response.data; 
					})
				},
				
				//删除
				del(odid) {
					var self = this;
					 layer.confirm('此操作将永久删除订单,是否确定？', {
						  btn: ['确定','取消'] //按钮
						}, function(){
							axios.delete("http://localhost:8080/orders?odid=" + odid)
								.then(function(response) {
								self.find(self.orders.p)
							});
			                layer.msg('删除成功', {icon: 1},{anim: 1});
					},
						
					);
				},
				
				updateUI(order) {
					//数据回显
					this.o_odid = order.odid;
					this.o_odmoney=order.odmoney;
			
					this.o_odtime=order.odtime;
					this.o_buyerid=order.buyerid;
					this.o_salerid=order.salerid;
					this.o_odfee=order.odfee;
					this.o_uid=order.user.uid;
					this.o_gid=order.goods.gid;
					this.o_aid=order.address.aid;
					
				},
				
				update() {
					var self=this;
					axios.put("http://localhost:8080/orders",{
							odid:self.o_odid,
							odmoney:self.o_odmoney,
							odtime:self.o_odtime,
							buyerid:self.o_buyerid,
							salerid:self.o_salerid,
							odfee:self.o_odfee,
							uid:self.o_uid,
							gid:self.o_gid,
							aid:self.o_aid
					})
					.then(function(response) {
						self.find(self.orders.p);
						 self.o_odid = self.o_odmoney = self.o_odtime = self.o_buyerid = 
							self.o_salerid = self.o_odfee = self.o_uid = self.o_gid = self.o_aid = ""
					});
				},
				
				/*分页页码数据  */
				pages(startPage,endPage){
					var self=this;
					for(i=startPage;i<=endPage;i++){
						self.v_pages.push(i);
					};
				}
				
			}
			
		});
	</script>
</html>